@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Montserrat:wght@300;400;600&family=Poppins:wght@400;500;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
